# Credenziali dei 5 profili YouTube
# Formato: PROFILE_<NOME>_EMAIL e PROFILE_<NOME>_PASSWORD

PROFILE_SCIENZA_EMAIL=scienza@gmail.com
PROFILE_SCIENZA_PASSWORD=tuapassword

PROFILE_CUCINA_EMAIL=cucina@gmail.com
PROFILE_CUCINA_PASSWORD=tuapassword

PROFILE_MUSICA_EMAIL=musica@gmail.com
PROFILE_MUSICA_PASSWORD=tuapassword

PROFILE_SPORT_EMAIL=sport@gmail.com
PROFILE_SPORT_PASSWORD=tuapassword

PROFILE_GAMING_EMAIL=gaming@gmail.com
PROFILE_GAMING_PASSWORD=tuapassword
